


<div class="container">
    <div class="row">
      <div *ngFor="let post of posts" class="col-md-4">
        <div class="post">
          <h2>{{ post.strMeal }}</h2>
          <img [src]="post.strMealThumb" alt="{{ post.strMeal }}" width="100%">
          <h2>{{post.idMeal}}</h2>

        </div>
      </div>

    </div>

<div class="test">

<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/Bread omelette 1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Bread omelette</h5>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting  industry.Lorem Ipsum has been the industry's standard 
            dummy text ever since the 1500s,when an unknown printer took a gallery of type and scrambled
          </p>
        </div>
      </div>

</div>
<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/Breakfast Potatoes.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Breakfast  Potatoes</h5>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting  industry.Lorem Ipsum has been the industry's standard 
            dummy text ever since the 1500s,when an unknown printer took a gallery of type and scrambled
          </p>
        </div>
      </div>

</div>
<div class="col-md-4">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/Home-made Mandazi.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">home-made  Mandazi</h5>
          <p  class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting  industry.Lorem Ipsum has been the industry's standard 
            dummy text ever since the 1500s,when an unknown printer took a gallery of type and scrambled
          </p>
        </div>
      </div>

</div>
</div>
<div class="but text-center p-5">

<button class= "btn btn-warning">coNTACT us</button>
</div>


  </div>
  




