<div class="container text-center p-5 m-5" >
<div class="row">
    <div class=" test">
        <div  class="img">
            <h2>Tasty pastries</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the</p>
        </div>
        <div class="im">
            <img src="assets/images/Place Your Image Here (Double Click to Edit)_.png" width="400px">
        </div>
        <div class="imw">
            <img src="assets/images/Mask Group-1.png" width="400px">

        </div>

    </div>
    
</div>

</div>