<div  class="container">

    <h1 [ngStyle]="{color:'#FFF'}" class="text-center">TESTY MONIALS</h1>
<div class="content">

    <div class="col-md-3">
    <img src="assets/images/Group 546.png">
    </div>
    <div class="col-md-3">
        <img src="assets/images/Group 546.png">
    </div>
    
</div>
<div class="content">

    <div class="col-md-3">
    <img src="assets/images/Group 546.png">
    </div>
    <div class="col-md-3">
        <img src="assets/images/Group 546.png">
    </div>
</div>
<div class="im">
    <button class= "btn btn-warning">coNTACT us</button>

</div>

</div>